<!DOCTYPE HTML>
<html lang="en">
<!--head-->
{% include "./partials/head.html" %}

<body>
    <div id="page-screen"> </div>
    <div id="page-fade"> </div>
    <!-- Page Body Wrapper -->
    <div id="page-body">

        <!-- internal header -->
        <div class="container w-full md:w-1/4">
            <a href="/">
                <img src="images/emacityLogo.png">
            </a>
        </div>
        <!-- Content Wrapper -->
        <div class="container p-10 bg-gray-50 border-8 border-emacityBlue border-t-0 border-r-0 border-b-0"
            style="border-left-width: 12px;">
            <h1 class="fontDisplay text-3xl font-extrabold mb-10">Get Verified</h1>
            <h2 class="fontDisplay text-3xl font-extrabold mb-10 text-center">Verification Checklist</h2>
            <p>(Please replicate all 4 example photos below)</p>
            <ul>
                <li>Please copy the example promissory note with bold marker or font. Sign, Date, and Print as shown. (A
                    printer is NOT required.)</li>
                <li>Must be clear enough to read ID Card’s text as shown in example photo.</li>
                <li>Must show all of face.</li>
                <li>Must not cover any text or picture on ID Card or Promissory.</li>
                <li>Any sunglasses or caps must be removed for your photo.</li>
            </ul>
            <p>
                PLEASE NOTE:<br><br>

                -Any credit/debit card used after verification must match the name of the person verified. If you decide
                to switch cards/use multiple cards you will be required to send an updated photo of your card as shown
                in example photo. PLEASE COVER FIRST 12 DIGITS OF CARD AS SHOWN IN PHOTO.<br><br>

                - All payments must be done with verified card or bitcoin<br><br>

                Please Upload all 4 photos to either of your loaders via LINE messenger or Facebook messenger.
                Thanks for considering Verification with us!<br><br>
            </p>
            <p class="text-center">EXAMPLE PHOTOS (REPLICATE AS CLOSELY AS POSSIBLE):</p>
            <img class="w-full" src="images/getVerifiedGraphic.png" alt="">
            <p class="text-center">Promissory Reads as follows:</p>
            <p class="text-center">(I, (Print Name), assume responsibility of all payments made at www.emacitymmo.com. I
                waive all rights to initiate chargebacks for any purchases made at www.emacitymmo.com)</p>
        </div>

        <!-- Footer -->
        {% include "./partials/footer.html" %}

    </div> <!-- end Page Body Wrapper -->



    <!-- Scripts -->
    {% include "./partials/scripts.html" %}
</body>

</html>