<!DOCTYPE HTML>
<html lang="en">
<!--head-->
{% include "./partials/head.html" %}

<body>
    <div id="page-screen"> </div>
    <div id="page-fade"> </div>
    <!-- Page Body Wrapper -->
    <div id="page-body">

        <!-- Hero 1 Wrapper -->
        <div id="video-wrapper">
            <video src="videos/heroVideo.mp4?v=2" class="video" playsinline muted autoplay poster></video>

        </div>
        <!-- section divder-->
        <!-- top of video -->
        <div class="custom-shape-divider-bottom-1610592222 block md:hidden">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25" class="shape-fill"></path>
                <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5" class="shape-fill"></path>
                <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"></path>
            </svg>
        </div>
        <!-- bottom of video -->
        <div class="custom-shape-divider-top-1610591865 block md:hidden">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                    opacity=".25" class="shape-fill"></path>
                <path
                    d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                    opacity=".5" class="shape-fill"></path>
                <path
                    d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                    class="shape-fill"></path>
            </svg>
        </div>

        <!-- Hero 2 Wrapper -->
        <div id="hero" class="flex w-full">
            <div class="relative overflow-hidden w-full">
                <div class="relative pt-6 pb-16 sm:pb-24 lg:pb-32">
                    <main class="mt-16 mx-auto max-w-8xl px-4 sm:mt-24 sm:px-6 lg:mt-32">
                        <div class="lg:grid lg:grid-cols-12 lg:gap-8">
                            <div
                                class="sm:text-center md:max-w-3xl md:mx-auto lg:col-span-7 lg:text-left pt-1 md:pt-0 mt-0 md:mt-36">
                                <h1>
                                    <span
                                        class="mt-1 block text-4xl tracking-tight font-extrabold sm:text-5xl xl:text-6xl">
                                        <span id="companyTitle"
                                            class="fontDisplay block text-emacityBlue fontGaming">EMACITYMMO
                                            INC.</span>
                                    </span>
                                </h1>
                                <p
                                    class="intro-about-us text-center lg:text-left text-emacityBlue mt-10 mb-5 fontSwitcher font-medium p-0 md:p-4">
                                    We are a mobile gaming consulting company with a primary focus on decreasing cost,
                                    while
                                    remaining relative in the game. We provide our members with optimal strategies
                                    to
                                    surpass their opponents, while only spending a fraction of the cost. Reach out
                                    today
                                    and claim your competitive edge too!
                                </p>
                                <div class="fontBody text-base font-medium text-gray-300">
                                    <p
                                        class="text-center lg:text-left contact-us-today text-xs md:text-base font-medium text-emacityBlue mt-10 mb-5 fontDisplay tracking-wide">
                                        Contact us today via our Business LINE to get started!
                                    </p>
                                    <div class="flex w-full justify-center lg:justify-start">
                                        <div class="w-20 h-20 mr-10"><img class="" src="images/lineLogo.svg"></div>
                                        <a href="https://lin.ee/3lkIwKyBs"
                                            class="transition-all duration-300 inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-center">
                                            Message us on LINE now! <i class="ml-4 fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                    <p
                                        class="text-white text-center lg:text-left text-sm font-medium mt-10 mb-5 font-bold">
                                        If you don't have the LINE app, <a
                                            class="line-app-download-link transition-all duration-300 text-emacityBlue hover:underline"
                                            href="https://line.me/en-US/download" target="_blank">click here</a> here to
                                        download it first!
                                    </p>
                                </div>
                            </div>
                            <div
                                class="mt-0 md:mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-6 lg:flex lg:items-center">
                                <div class="relative mx-auto w-full lg:max-w-md hidden md:d-block">
                                    <img src="images/emacityLogoOnly.png">
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div> <!-- end Hero Wrapper -->

        <!-- Why us Wrapper -->
        <div class="container p-10 bg-gray-50 border-8 border-emacityBlue border-t-0 border-r-0 border-b-0"
            style="border-left-width: 12px;">
            <div class="py-16 overflow-hidden lg:py-24">
                <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
                    <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4"
                        width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
                        <defs>
                            <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
                    </svg>

                    <div class="relative">
                        <h2
                            class="text-center text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">
                            Still paying full price for your packs?
                        </h2>
                        <p class="mt-4 max-w-3xl mx-auto text-center text-xl text-gray-500">
                            You’ve come to the right place. Talk with one of our team members today to see how we can
                            lower the cost of your gaming dramatically.
                        </p>
                    </div>

                    <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
                        <div class="relative">
                            <h3 class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl">
                                Why us?
                            </h3>
                            <p class="mt-3 text-lg text-gray-500">
                                EmacityMMO was created by mobile gamers.. So we understand exactly what
                                is needed to compete.
                            </p>

                            <dl class="mt-10 space-y-10">
                                <div class="flex">
                                    <div class="flex-shrink-0">
                                        <div
                                            class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                                            <i class="fas fa-dollar-sign purple-icons"></i>
                                        </div>
                                    </div>
                                    <div class="ml-4">
                                        <dt class="text-lg leading-6 font-medium text-gray-900">
                                            Competitive rates
                                        </dt>
                                        <dd class="mt-2 text-base text-gray-500">
                                            Save 20% guaranteed on all your mobile gaming needs once you’ve become a
                                            member. Learn to bring your gaming efficiency to the max without breaking
                                            the bank.
                                        </dd>
                                    </div>
                                </div>

                                <div class="flex">
                                    <div class="flex-shrink-0">
                                        <div
                                            class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                                            <i class="fas fa-globe-americas purple-icons"></i>
                                        </div>
                                    </div>
                                    <div class="ml-4">
                                        <dt class="text-lg leading-6 font-medium text-gray-900">
                                            We’re Versatile
                                        </dt>
                                        <dd class="mt-2 text-base text-gray-500">
                                            We can help lower your costs on nearly any mobile game out there.
                                        </dd>
                                    </div>
                                </div>

                                <div class="flex">
                                    <div class="flex-shrink-0">
                                        <div
                                            class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                                            <i class="fas fa-dragon purple-icons"></i>
                                        </div>
                                    </div>
                                    <div class="ml-4">
                                        <dt class="text-lg leading-6 font-medium text-gray-900">
                                            We’re Fast
                                        </dt>
                                        <dd class="mt-2 text-base text-gray-500">
                                            We pride ourselves in getting you the help that you need as fast as
                                            possible. Our average wait time is less than one hour after you queue.
                                        </dd>
                                    </div>
                                </div>
                            </dl>
                        </div>

                        <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
                            <img class="relative mx-auto" width="490" src="images/mobileGaming1.jpg" alt="">
                        </div>
                    </div>

                    <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12"
                        width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
                        <defs>
                            <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20"
                                patternUnits="userSpaceOnUse">
                                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                            </pattern>
                        </defs>
                        <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
                    </svg>

                    <div class="relative mt-12 sm:mt-16 lg:mt-24">
                        <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
                            <div class="lg:col-start-2">
                                <h3 class="text-2xl font-extrabold text-gray-900 tracking-tight sm:text-3xl">
                                    Excellent Customer Service
                                </h3>
                                <p class="mt-3 text-lg text-gray-500">
                                    One on one chat with your consultant for every session.
                                </p>

                                <dl class="mt-10 space-y-10">
                                    <div class="flex">
                                        <div class="flex-shrink-0">
                                            <div
                                                class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                                                <i class="fas fa-gamepad purple-icons"></i>
                                            </div>
                                        </div>
                                        <div class="ml-4">
                                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                                Owner Ran
                                            </dt>
                                            <dd class="mt-2 text-base text-gray-500">
                                                EmacityMMO is ran by its owners, Cody and Kristalin. We have a passion
                                                for what we do.
                                            </dd>
                                        </div>
                                    </div>

                                    <div class="flex">
                                        <div class="flex-shrink-0">
                                            <div
                                                class="flex items-center justify-center h-12 w-12 rounded-md bg-indigo-500 text-white">
                                                <i class="fas fa-user-shield purple-icons"></i>
                                            </div>
                                        </div>
                                        <div class="ml-4">
                                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                                We’re Safe
                                            </dt>
                                            <dd class="mt-2 text-base text-gray-500">
                                                Please feel free to ask around, or check out our customer reviews at
                                                <a href="https://www.trustpilot.com/review/emacitymmo.com"
                                                    target="_blank"
                                                    class="transition-all duration-300 text-emacityBlue hover:underline">Trustpilot.com</a>
                                                <i class="fas fa-external-link-alt ml-1"></i>.
                                            </dd>
                                        </div>
                                    </div>
                                </dl>
                            </div>

                            <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
                                <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden"
                                    width="784" height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
                                    <defs>
                                        <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20"
                                            height="20" patternUnits="userSpaceOnUse">
                                            <rect x="0" y="0" width="4" height="4" class="text-gray-200"
                                                fill="currentColor" />
                                        </pattern>
                                    </defs>
                                    <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
                                </svg>
                                <img class="relative mx-auto" width="490" src="images/mobileGaming2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        {% include "./partials/footer.html" %}

    </div> <!-- end Page Body Wrapper -->



    <!-- Scripts -->
    {% include "./partials/scripts.html" %}
</body>

</html>