<!DOCTYPE HTML>
<html lang="en">
<!--head-->
{% include "./partials/head.html" %}

<body>
    <div id="page-screen"> </div>
    <div id="page-fade"> </div>
    <!-- Page Body Wrapper -->
    <div id="page-body">

        <!-- Hero Wrapper -->
        <div id="hero" class="flex w-full">
            <div class="relative overflow-hidden w-full">
                <div class="relative pt-6 pb-16 sm:pb-24 lg:pb-32">
                    <main class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6 lg:mt-32">
                        <div class="lg:grid lg:grid-cols-12 lg:gap-8">
                            <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
                                <h1>
                                    <span class="mt-1 block text-4xl tracking-tight font-extrabold sm:text-5xl xl:text-6xl">
                                        <span id="companyTitle" class="fontDisplay block text-white">EMACITYMMO INC.</span>
                                    </span>
                                </h1>
                                <p class="fontBody mt-3 text-base text-gray-200 sm:mt-5 text-lg">
                                    is a mobile gaming consulting company with a primary focus on decreasing cost, while
                                    remaining relative in the game. We provide our members with optimal strategies to surpass their opponents, while only spending a fraction of the cost. Reach out today and claim your competitive edge too!
                                </p>
                                <div class="fontBody text-base font-medium text-gray-300">
                                    <p class="text-center lg:text-left contact-us-today text-base font-medium text-emacityBlue mt-10 mb-5">
                                        Contact us today via our Business LINE to get started!
                                    </p>
                                    <div class="flex w-full justify-center lg:justify-start">
                                        <div class="w-20 h-20 mr-10"><img class="" src="images/lineLogo.svg"></div>
                                        <a href="https://lin.ee/3lkIwKyBs" class="transition-all duration-300 inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-center">
                                            Message us on LINE now! <i class="ml-4 fas fa-chevron-right"></i>
                                        </a>
                                    </div>
                                    <p class="text-center lg:text-left text-sm font-medium mt-10 mb-5">
                                        If you don't have the LINE app, <a class="line-app-download-link transition-all duration-300 text-emacityBlue hover:underline" href="https://line.me/en-US/download" target="_blank">click here</a> here to download it first!
                                    </p>
                                </div>
                            </div>
                            <div class="mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-6 lg:flex lg:items-center">
                                <div class="relative mx-auto w-full lg:max-w-md">
                                    <img src="images/emacityLogoOnly.png">
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div> <!-- end Hero Wrapper -->

    </div> <!-- end Page Body Wrapper -->

    <!-- Footer -->
    

    <!-- Scripts -->
    {% include "./partials/scripts.html" %}
</body>

</html>