<!DOCTYPE HTML>
<html lang="en">
<!--head-->
{% include "./partials/head.html" %}

<body>
    <div id="page-screen"> </div>
    <div id="page-fade"> </div>
    <!-- Page Body Wrapper -->
    <div id="page-body">

        <!-- Hero 1 Wrapper -->
        <a href="/" class="block">
            <div id="video-wrapper" class="internal">
                <video src="videos/heroVideo.mp4?v=2" playsinline muted autoplay poster></video>
            </div>
        </a>

        <!-- Content Wrapper -->
        <div class="container p-10 bg-gray-50 border-8 border-emacityBlue border-t-0 border-r-0 border-b-0"
            style="border-left-width: 12px;">
            <h1 class="fontDisplay text-3xl font-extrabold mb-10">Refund Policy</h1>
            <p>
                RETURNS<br><br>

                ALL SALES ARE FINAL.<br><br>

                Please note that due to the nature of our business, returns are rarely applicable.<br><br>

                We, Cody and Kristalin of EmacityMMO, solely reserve the right to deny or grant a refund of any
                purchase.<br><br>

                Please advise that we will consider a return if you are unhappy with your service for any reason, but
                under no circumstance, will guarantee one. Contact us via our LINE business page with any issues and we
                will do our best to resolve them.<br><br>
            </p>
        </div>

        <!-- Footer -->
        {% include "./partials/footer.html" %}

    </div> <!-- end Page Body Wrapper -->



    <!-- Scripts -->
    {% include "./partials/scripts.html" %}
</body>

</html>