body {
  background: url("/images/bodyBackground.jpg") repeat 0 0;
  width: 100%;
  height: 100%; }

.container {
  max-width: 1600px;
  margin: auto; }

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  z-index: -10; }

#hero {
  height: 100vh; }

.fontDisplay {
  font-family: 'Nunito Sans', sans-serif; }

.fontBody {
  font-family: 'Heebo', sans-serif; }

.fontGaming {
  font-family: 'Press Start 2P', cursive; }

.text-emacityBlue {
  color: #23a1ff; }

.text-emacityBlueDark {
  color: #005da2; }

.border-emacityBlue {
  border-color: #23a1ff; }

a:hover {
  color: #1c81ce; }

.contact-us-today {
  font-size: 22px; }

#page-screen {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: rgba(20, 20, 20, 0.1); }

#page-fade {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 18;
  background: -moz-linear-gradient(-45deg, rgba(24, 22, 120, 0.8) 35%, rgba(3, 11, 20, 0.8) 70%);
  background: -webkit-linear-gradient(-45deg, rgba(24, 22, 120, 0.8) 35%, rgba(3, 11, 20, 0.8) 70%);
  background: linear-gradient(135deg, rgba(24, 22, 120, 0.8) 35%, rgba(3, 11, 20, 0.8) 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53ffff', endColorstr='#851719',GradientType=1 ); }

#page-body {
  position: relative;
  z-index: 20; }

#companyTitle {
  margin: 0 0 8px 0;
  padding: 0;
  height: auto;
  font-size: 80px;
  font-weight: 200;
  line-height: 82px;
  letter-spacing: 0.1cm;
  text-shadow: 5px 6px 4px rgba(20, 20, 20, 0.8); }

.purple-icons {
  font-size: 22px; }

.socialIconFooter:hover {
  color: #1c81ce; }

@media (max-width: 769px) {
  #companyTitle {
    font-size: 50px; }
  #hero {
    height: unset; } }

@media (max-width: 501px) {
  #companyTitle {
    font-size: 31px; }
  .contact-us-today {
    font-size: 14px !important;
    line-height: 30px !important; } }

::-moz-selection {
  /* Code for Firefox */
  color: #1c81ce;
  background: black; }

::selection {
  color: #1c81ce;
  background: black; }
