<!DOCTYPE HTML>
<html lang="en">
<!--head-->
{% include "../../public/partials/head.html" %}

<body>
    <!-- Wrapper -->
    <div id="hero" class="flex w-full">
        <h1>testing</h1>
    </div>

    <!-- Footer -->
    {% include "../../public/partials/footer.html" %}

    <!-- Scripts -->
    {% include "../../public/partials/scripts.html" %}
</body>

</html>