// @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    background: url("/images/bodyBackground.jpg") repeat 0 0;
    // background-size: cover;
    // background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.container {
    max-width: 1600px;
    margin: auto;
}
.video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.3;
  z-index: -10;
  
}
#video-wrapper.internal {
    display: flex;
    justify-content: center;
}
#video-wrapper.internal video {
    max-width: 100%;
    height: 31.8vh;
    text-align: center;
}
.internal-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  z-index: -10;
}
#hero {
    height: 100vh;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.14), 0 7.7px 6.3px rgba(0, 0, 0, 0.048), 0 13.5px 11px rgba(0, 0, 0, 0.07), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
#internal-header {
    height: auto;
}
.fontDisplay {
    font-family: 'Nunito Sans', sans-serif;
}
.fontBody {
    font-family: 'Heebo', sans-serif;
}
.fontGaming {
    font-family: 'Press Start 2P', cursive;
}
.fontSwitcher {
    font-family: 'Press Start 2P', cursive;
}
.text-emacityBlue {
    color: #23a1ff;
}
.text-emacityBlueDark {
    color:#005da2;
}
.border-emacityBlue {
    border-color: #23a1ff;
}
.text-otherBlue {
    color: #1c81ce;
}
a:hover {
    color: #1c81ce;
}
.contact-us-today {
    font-size: 22px;
}
#page-screen {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: rgba(20,20,20,0.1);
}
#page-fade {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 18;
    background: -moz-linear-gradient(-45deg, rgba(24, 22, 120, 0.55) 35%, rgba(3, 11, 20, 0.8) 70%);
    background: -webkit-linear-gradient(-45deg, rgba(24, 22, 120, 0.55) 35%, rgba(3, 11, 20, 0.8) 70%);
    background: linear-gradient(135deg, rgba(24, 22, 120, 0.55) 35%, rgba(3, 11, 20, 0.8) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53ffff', endColorstr='#851719',GradientType=1 );
}
#page-body {
    position: relative;
    z-index: 20;
}
#companyTitle {
    margin: 0 0 8px 0;
    padding: 0;
    height: auto;
    font-size: 80px;
    font-weight: 200;
    line-height: 82px;
    letter-spacing: 0.1cm;
    text-shadow: 5px 6px 4px rgba(20, 20, 20, 0.8);
    display: none;
}
.purple-icons {
    font-size: 22px;
}
.socialIconFooter:hover {
    color: #1c81ce;
}
::-moz-selection { /* Code for Firefox */
    color: #1c81ce;
    background: black;
  }
  
::selection {
    color: #1c81ce;
    background: black;
}
.intro-about-us {
    // background: linear-gradient(to left, rgba(0,0,0,0.03) 30%,rgba(0,0,0,1) 100%);
    text-shadow: 4px 4px black;
}
.intro-about-us-background {
    position: absolute;
}
.custom-shape-divider-top-1610591865 {
    position: absolute;
    top: 39.6vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1610591865 svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 55px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1610591865 .shape-fill {
    fill: #E4F9FF99;
}
.custom-shape-divider-bottom-1610592222 {
    position: absolute;
    top: 35.6vh;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1610592222 svg {
    position: relative;
    display: block;
    width: calc(185% + 1.3px);
    height: 36px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1610592222 .shape-fill {
    fill: #E4F9FF;
}


// Mobile Responsive
@media(max-width: 1445px) {
    #hero {
        height: unset;
    }
}
@media(max-width: 769px) {
    #companyTitle {
        font-size: 50px;
    }
}
@media(max-width: 501px) {
    #companyTitle {
        // font-size: 31px;
        display: none;
    }
    .intro-about-us {
        font-size: 22px;
        margin-top: 75%;
        background: white;
        background: unset;
        line-height: 0.7cm;
        text-shadow: unset;
    }
    .contact-us-today {
        font-size: 17px !important;
        line-height: 30px !important;
    }
    .video {
        height: 39.6vh;
        opacity: 1;
    }
    .internal-video {
        height: 39.6vh;
        opacity: 1;
    }
    .fontSwitcher {
        font-family: 'Nunito Sans', sans-serif;
    }
}